/* Global */
body {
    background-color: #000;
    background: url('img/wfhback.jpg') no-repeat center center fixed;
    background-size: cover;
}

.jumbotron {
    background-color: #000;
    color: #fff;
    margin-top: 70px;
    margin-bottom: 70px;
}

.no-margin {
    margin: 0;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}

.btn-facebook:hover {
    background-color: #4b67a1;
    color: #e2e2e2;
}

/* whf template */
.whf-logo {
    margin-top: 80px;
}

/* information template */
.sponsors {
    margin: 10px 0;
}

/* program template */
.artists {
    margin: 10px 0;
}

.panel-artists {
    background-color: #222;
    border: none;
}