<div class="jumbotron page-information">
    <div class="row">
        <div class="col-sm-6">
            <h1>Information</h1>
            <ul class="list-unstyled">
                <li><h3>Warehouse Festival</h3></li>
                <li><span class="glyphicon glyphicon-map-marker"></span> Havnegade 18, 5000 Odense C</li>
                <li><span class="glyphicon glyphicon-calendar"></span> 16.-19. April 2014</li>
                <li><span class="glyphicon glyphicon-info-sign"></span> Aldersgrænsen er 16 år</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <h3>Billetpriser</h3>
                        </th>
                        <th>Forsalg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Earlybird (gælder alle 3 dage)* begrænset antal</td>
                        <td>Kr. 250,-</td>
                    </tr>
                    <tr>
                        <td>Festivalårmbånd (gælder alle 3 dage)</td>
                        <td>Kr. 350,-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <img src="img/sponsorer-mini.png" alt="sponsorer" class="img-responsive">
    </div>
</div>
