<div class="jumbotron page-program">
    <h1>Musikprogram</h1>
    <p>Igen i år præsenterer Warehouse Festival 4 dage med 4 forskellige musikgenrer.</p>
    <div class="row">
        <div class="col-md-4">
            <h3>TORSDAG D. 30 APRIL</h3>
            <div class="panel panel-artists" ng-repeat="artist in artists | filter:{day: 'thursday'}">
                <img ng-src="{{artist.image}}" alt="{{artist.name}}" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4">
            <h3>FREDAG D. 1 MAJ</h3>
            <div class="panel panel-artists" ng-repeat="artist in artists | filter:{day: 'friday'}">
                <img ng-src="{{artist.image}}" alt="{{artist.name}}" class="img-responsive">
            </div>
        </div>
        <div class="col-md-4">
            <h3>LØRDAG D. 2 MAJ</h3>
            <div class="panel panel-artists" ng-repeat="artist in artists | filter:{day: 'saturday'}">
                <img ng-src="{{artist.image}}" alt="{{artist.name}}" class="img-responsive">
            </div>
        </div>
    </div>
</div>
