<div class="jumbotron page-program">
    <h1>Program</h1>
    <p>Igen i år præsenterer Warehouse Festival 4 dage med 4 forskellige genre musik.</p>
    <img src="img/programogtider1020.png" alt="Program" class="img-responsive center-block">
    <h2>Artister:</h2>
    <div class="row">
        <div class="col-md-4 artists" ng-repeat="artist in artists">
            <div class="panel panel-artists">
                <img ng-src="{{artist.image}}" alt="{{artist.name}}" class="img-responsive">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">{{artist.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--filter:{ day: 'fredag' }-->
